<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Montserrat" rel="stylesheet">
		<link href="/public/css/style.css" rel="css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Teacher's Pet</title>
	</head>
	<body>
	<header>
		<p id="logo"> Teacher's Pet </p>
		<span id="navbar"> <a href="#"> HOME </a> <a href="#"> LOGOUT </a> </span>
	</header>
	<div id="wrapper">
		{{{ body }}}
	</div>
	<footer>
		<p> © 2017 Teacher's Pet Inc. </p>
	</body>
</html>


