<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Teacher's Pet</title>
	</head>
	<body>
	<header>
		<p> Teacher's Pet </p>
		<span> <a href="#"> HOME </a> <a href="#"> LOGOUT </a> </span> 
	</header>
		{{{ body }}}
	<footer> 
		<p> © 2017 Teacher's Pet Inc. </p>
	</body>
</html>