<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Montserrat" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Teacher's Pet</title>
	</head>
	<body>
	<header>
		<img src="../../public/assets/images/small-logo.png" alt="logo" width="80" height="80"> 
		<p id="logo"> Teacher's Pet </p> <p id="logo"> Teacher's Pet </p> 
		<span id="navbar"> <a href="/"> HOME </a> <a href="/index"> DEMO </a> </span>
	</header>
	<div id="wrapper">
		{{{ body }}}
	</div>
	<footer>
		<p> © 2017 Teacher's Pet Inc. </p>
	</body>

	<script src="assets/js/presence.js"></script>
	<script src="assets/js/tasks.js"></script>

</html>


