header {
	padding: 10px;
	width: 100%;
	height: 60px;
	background-color: $darkerPink;
	color: $linen;

	
	#logo {
		margin: 0 0 0 30px;
		font-size: $logoHeight;
		font-family: $headerFont;
		float: left;
	}
	#navbar {
		font-family: $bodyFont;
		float: right;
		margin-right: 30px;
		margin-top: 10px;
		a {
			color: $linen;
			text-decoration: none;
			margin:10px;
		}
		a:hover{
			color: $darkGray;
		}
	}
}