<h1 id="welcome"> Welcome! </h1>

  <div class="clearfix" id="selections">

    <h3 class="center"> What would you like to do? </h3> <br><br>


    <div class="push-left">
        <a class="floatLeft submitButton rightMargin" id="attendanceButton" href="/attendance" role="button"> Take Attendance </a>
        <a class="floatLeft submitButton rightMargin" id="assignmentsButton" href="/assignments" role="button"> Input Assignments </a>

        <a class="floatLeft submitButton" id="rosterButton" href="/students" role="button"> View Roster </a>
    </div>


  </div>
