<h1 id="welcome"> Welcome! </h1>

<div class="clearfix" id="selections">
<form method="">
<h3 class="floatLeft"> What would you like to do? </h3>



<button class="floatLeft submitButton" id="attendanceButton" href="/attendance"> Take Attendance </button>
<button class="floatLeft submitButton" id="assignmentsButton" href="/assignments"> Input Assignments </button>

<button class="floatLeft submitButton" id="rosterButton" href="/students"> View Roster </button>





</div>
