<h1> Welcome! </h1>

<div id="selections">
<form method="">
<h3> What would you like to do? </h3>
<select name="action">
  <option value="attendance">Take Attendance</option>
  <option value="students">View Roster</option>
</select>
<h3> For which class? </h3>
<select name="pickClass">
  <option value="class1">Class One</option>
  <option value="class2">Class Two</option>
</select>
<button> Submit </button>
</form>

</div>