<h1 id="welcome"> Welcome! </h1>

<div class="clearfix" id="selections">
<form method="">
<h3 class="floatLeft"> What would you like to do? </h3>
<select class="floatLeft" name="action">
  <option value="attendance">Take Attendance</option>
  <option value="students">View Roster</option>
</select>
<h3 class="floatLeft"> For which class? </h3>
<select class="floatLeft" name="pickClass">
  <option value="class1">Class One</option>
  <option value="class2">Class Two</option>
</select>
<button class="floatLeft submitButton" id="submitSelections"> Submit </button>
</form>

</div>