<h1 id="welcome"> Welcome! </h1>

<div class="clearfix" id="selections">
<form method="">
<h3 class="floatLeft"> What would you like to do? </h3>



<a class="floatLeft submitButton" id="attendanceButton" href="/attendance" role="button"> Take Attendance </a>
<a class="floatLeft submitButton" id="assignmentsButton" href="/assignments" role="button"> Input Assignments </a>

<a class="floatLeft submitButton" id="rosterButton" href="/students" role="button"> View Roster </a>





</div>
