
//===== COLORS =====
$darkerPink: #D37474;
$lighterPink: #F5CAC3;
$linen: #F7EDE2;
$darkGray: #3E4E50;

// ==== FONTS =====
$bodyFont: 'Montserrat', sans-serif;
$headerFont: 'Happy Monkey', cursive;

// ===== SIZES =====
$contentWidth: 70%;
$logoHeight: 36px;
$welcomeHeight: 30px;
$sectionHeadings: 24px;
$bodyText: 18px;
