
@import "utils/vars";
@import "components/header";
@import "components/footer";

body {
	background-color: $lighterPink;
}

h1 {
	font-family: $headerFont;
	color: $darkGray;
	font-size: $welcomeHeight;
}

h3 {
	font-family: $bodyFont;
	color: $darkGray;
	font-size: $sectionHeadings;
}