
@import "utils/vars";
@import "components/header";
@import "components/footer";
@import "utils/helpers";
@import "components/button";

* {
	box-sizing: border-box;
}

#wrapper {
	margin: auto;
	width: 100%;
	min-height: 100%;
}

#cover {
	width: 100%
}

#welcome {
	font-size: $welcomeHeight;
	padding: $padding20;
	margin: 50px;
}

.third {
	width: 33.3%;
	float: left;
	display: inline;
	text-align: center;
	@extend %clearfix;
}

.linen {
	background-color: $linen;
}


#selections {
	padding: $padding20;
	width: 100%;
	background-color: $linen;
	margin-bottom: 400px;
	@extend %clearfix;
	.floatLeft {
		float: left;
		display: inline;
	}

	h3 {
		margin: 5px 20px 0px 20px;
	}

	select {
		margin: 5px 20px 0px 20px;
		border: 0px;
		padding: 10px;
		font-size: 16px;
	}

}

.center {
	text-align: center;
}

#attendanceForm {
	select {
		margin: 5px 20px 0px 20px;
		border: 0px;
		padding: 10px;
		font-size: 16px;
	}
}

#homeNav {
	border-right: 1px solid $darkGray;
}

header {
	@extend %clearfix;
}

body {
	background-color: $lighterPink;
	text-align: center;
}

.rightMargin {
	margin-right: 20px;
}

.marginSpacing {
	margin-top: 20px;
	margin-bottom: 20px;
}

.align-left {
	text-align: left;
}

.push-left {
	padding-left: 80px;
}

#squirrel {
	margin-top: 0px;
}

h1 {
	font-family: $headerFont;
	color: $darkGray;
	font-size: $welcomeHeight;
}

h2 {
	font-family: $bodyFont;
	color: $darkGray;
	font-size: $sectionHeadings;
}

p {
	font-family: $bodyFont;
	color: $darkGray;
	font-size: $bodyText;

}

section {
	padding: 50px 100px 50px 100px;
	width: 100%;
	display: block;
	@extend %clearfix;
}

h3 {
	font-family: $bodyFont;
	color: $darkGray;
	font-size: $bodyFont;
}