
@import "utils/vars";
@import "components/header";
@import "components/footer";
@import "utils/helpers";
@import "components/button";

#wrapper {
	margin: auto;
	width: 960px;
	min-height: 100%;
}

#cover {
	width: 100%
}

#welcome {
	font-size: $welcomeHeight;
	padding: $padding20;
	margin: 50px;
}

.third {
	width: 30%;
	float: left;
	display: inline;
	text-align: center;
	@extend %clearfix;
}


#selections {
	padding: $padding20;
	width: 100%;
	background-color: $linen;
	margin-bottom: 400px;
	@extend %clearfix;
	.floatLeft {
		float: left;
		display: inline;
	}

	h3 {
		margin: 5px 20px 0px 20px;
	}

	select {
		margin: 5px 20px 0px 20px;
		border: 0px;
		padding: 10px;
		font-size: 16px;
	}

}

#attendanceForm {
	select {
		margin: 5px 20px 0px 20px;
		border: 0px;
		padding: 10px;
		font-size: 16px;
	}
}

#homeNav {
	border-right: 1px solid $darkGray;
}

header {
	@extend %clearfix;
}

body {
	background-color: $lighterPink;
	text-align: center;
}

.rightMargin{
	margin-right: 20px;
}

h1 {
	font-family: $headerFont;
	color: $darkGray;
	font-size: $welcomeHeight;
}

h2 {
	font-family: $bodyFont;
	color: $darkGray;
	font-size: $sectionHeadings;
}

p {
	font-family: $bodyFont;
	color: $darkGray;
	font-size: $bodyText;

}

h3 {
	font-family: $bodyFont;
	color: $darkGray;
	font-size: $bodyFont;
}