header {
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: #D37474;
  color: #F7EDE2;
  -webkit-box-shadow: 0 8px 6px -8px black;
  -moz-box-shadow: 0 8px 6px -8px black;
  box-shadow: 0 8px 6px -8px black; }
  header #homeNav {
    border-right: 2px solid #F7EDE2;
    padding-right: 20px; }
  header #logo {
    margin: 20px 0px 0px 30px;
    font-size: 36px;
    font-family: "Happy Monkey", cursive;
    float: left;
    color: #F7EDE2; }
  header #navbar {
    font-family: "Montserrat", sans-serif;
    float: right;
    margin-right: 20px;
    margin-top: 25px; }
    header #navbar a {
      color: #F7EDE2;
      text-decoration: none;
      margin-left: 15px; }
    header #navbar a:hover {
      color: #3E4E50; }

footer {
  width: 100%;
  background-color: #D37474;
  font-family: "Happy Monkey", cursive;
  font-size: 18px;
  color: #F7EDE2;
  padding: 20px; }

footer, .third, #selections, header, section {
  display: inline-block; }
  footer:after, .third:after, #selections:after, header:after, section:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  * html footer, * html .third, * html #selections, * html header, * html section {
    height: 1%; }

/* start commented backslash hack \*/
/* close commented backslash hack */
.submitButton {
  background: #3E4E50;
  border: none;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle; }

.submitButton:hover {
  background: #D37474; }

.submitButton:active {
  background: #D37474; }

.smallButton {
  background: #3E4E50;
  border: none;
  padding: 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle; }

.smallButton:hover {
  background: #D37474; }

.smallButton:active {
  background: #D37474; }

* {
  box-sizing: border-box; }

#wrapper {
  margin: auto;
  width: 100%;
  min-height: 100%; }

#cover {
  width: 100%; }

#welcome {
  font-size: 30px;
  padding: 20px;
  margin: 50px; }

.third {
  width: 33.3%;
  float: left;
  display: inline;
  text-align: center; }

.linen {
  background-color: #F7EDE2; }

#selections {
  padding: 20px;
  width: 100%;
  background-color: #F7EDE2;
  margin-bottom: 400px; }
  #selections .floatLeft {
    float: left;
    display: inline; }
  #selections h3 {
    margin: 5px 20px 0px 20px; }
  #selections select {
    margin: 5px 20px 0px 20px;
    border: 0px;
    padding: 10px;
    font-size: 16px; }

.center {
  text-align: center; }

#attendanceForm select {
  margin: 5px 20px 0px 20px;
  border: 0px;
  padding: 10px;
  font-size: 16px; }

#homeNav {
  border-right: 1px solid #3E4E50; }

body {
  background-color: #F5CAC3;
  text-align: center; }

.rightMargin {
  margin-right: 20px; }

.marginSpacing {
  margin-top: 20px;
  margin-bottom: 20px; }

.align-left {
  text-align: left; }

.push-left {
  padding-left: 150px; }

#squirrel {
  margin-top: 0px; }

h1 {
  font-family: "Happy Monkey", cursive;
  color: #3E4E50;
  font-size: 30px; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: #3E4E50;
  font-size: 24px; }

p {
  font-family: "Montserrat", sans-serif;
  color: #3E4E50;
  font-size: 18px; }

section {
  padding: 50px 100px 50px 100px;
  width: 100%;
  display: block; }

h3 {
  font-family: "Montserrat", sans-serif;
  color: #3E4E50;
  font-size: "Montserrat", sans-serif; }

/*# sourceMappingURL=style.css.map */
